@media (width >= 2200px) {

    .container {
        max-width: 1920px;
    }

    .header {
        min-height: 128px;
    }

    .main {
        min-height: calc(100vh - 128px);
    }




    body {
        font-size: 1.6em;
    }
    
    .masterTitle {
        font-size: 60px;
    }

    .subtitle {
        font-size: 48px;
    }

    .newTask__subtitle {
        font-size: 30px;
    }

    .textInput {
        font-size: 20px;
        margin-bottom: 42px;
        margin-top: 16px;
    }



    .shouldDo__taskBox {
        margin: 54px;
    }
}

@media (width <= 926px) {
    .shouldDo__taskBox ul {
        flex-direction: column;
        justify-content: center;
    }

    .haveDone__list {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 20px;
        margin: 0;
    }
}

@media (width <= 768px) {
    .block_shouldDo {
        width: 58%;
    }
    .block_haveDone{
        width: 42%;
    }
    


    .addTaskDesk {
        min-height: 16%;
        display: flex;
        flex-direction: column;
        margin: 10px auto 0;
    }
    .newTask__subtitle {
        padding: 0 24px 10px;
        margin-top: 18px;
    }
    .textInput {
        width: 90%;
        margin-bottom: 18px;
    }
    .btn {
        width: 100px;
        margin-left: 20px;
        margin-bottom: 16px;
    }



    .haveDone__subtitle {
        font-size: 30px;
        padding: 0 20px;
        margin-bottom: 12px;
    }
}

@media (width <= 576px) {
    .main {
        flex-direction: column;

        margin-top: 116px;
        width: 100%;
    }

    .block_shouldDo {
        width: 100%;
    }

    .block_haveDone{
        width: 100%;
    }



    .header {
        flex-direction: column;

        position: fixed;
        top: 0;
        width: 100%;
    
        z-index: 10;
    }

    .nav {
        display: block;
        width: 100%;
    }

    .list {
        display: flex;
        justify-content: space-between;
    }
    .list li {
        padding: 8px 20px;
        font-size: 14px;
        opacity: 0.4;
    }


    li.active {
        opacity: 1;
        font-weight: 700;
    }
}

